html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    border: 1px solid transparent;
}